.custom-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.blue {background-color: #007bff;}
.red {background-color: #ff4d4d;}
.green{background-color: #2ecc71;}

.custom.-button:hover{
    filter: brightness(1.2);
}